<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} {% endblock %} | Sinergia</title>
</head>
<body>
    <h1>Sinergia</h1>
    <ul>
        <li><a href="{% url 'home' %}">Portada</a></li>
        <li><a href="{% url 'featured' %}">Featured</a></li>
        <li><a href="{% url 'recentWork' %}">Recent Work</a></li>
        <li><a href="{% url 'presentation' %}">Presentation</a></li>
        <li><a href="{% url 'blogEntires' %}">Blog Entires</a></li>
        <li><a href="{% url 'contactUs' %}">Contact Us</a></li>
    </ul>
    {% block content %}{% endblock  %}
</body>
</html>
