<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} {% endblock %} | Sinergia</title>
</head>
<body>
    <h1>Sinergia</h1>
    <ul>
        <li><a href="/">Portada</a></li>
        <li><a href="/featured/">Featured</a></li>
        <li><a href="/recentWork/">Recent Work</a></li>
        <li><a href="/presentation/">Presentation</a></li>
        <li><a href="/blogEntires/">Blog Entires</a></li>
        <li><a href="/contactUs">Contact Us</a></li>
    </ul>
    {% block content %}{% endblock  %}
</body>
</html>
